body {
  position: relative;
  width: 100%;
  height: 900px;
  display: flex;
}
aside {
  background-color: black;
  width: 9.16%;
  height: 852px;
  border-radius: 24px;
  margin-left: 32px;
  margin-top: 30px;
  -webkit-box-shadow: 24px 24px 50px -20px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 24px 24px 50px -20px rgba(0, 0, 0, 0.59);
  box-shadow: 24px 24px 50px -20px rgba(0, 0, 0, 0.59);
}
aside h2 {
  color: white;
  font-family: "Baloo Bhai 2";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  margin-bottom: 40px;
  margin-top: 0px;
}
aside ul {
  margin-left: 0;
  padding-left: 0;
  text-align: center;
}
aside li {
  padding: 27px;
  list-style-type: none;
}
aside li:last-child {
  padding: 0px;
  margin-top: 200px;
}

header {
  width: 43.05%;
  height: 160px;
  background: #f5f5f7;
  border-radius: 14px;
  margin-top: 55px;
  margin-left: 70px;
  flex-direction: column;
}
header h1 {
  font-family: "Baloo Bhai 2";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 57px;
  color: #000000;
  margin-left: 32px;
  margin-top: 46px;
  margin-bottom: 0px;
  display: block;
}
header p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0px;
  margin-left: 32px;
  display: block;
}
.Josh-img {
  position: absolute;
  width: 12.15%;
  height: 191px;
  margin-left: 40%;
  margin-top: 1.75%;
}
.my-learning {
  position: absolute;
  display: flex;
  margin-top: 240px;
  margin-left: 236px;
}
.my-courses {
  width: 83%;
  height: 80px;
  background: #f5f5f7;
  border-radius: 14px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-courses img:first-child {
  width: 32px;
  height: 32px;
}
.my-courses span p:first-child {
  font-family: "Baloo Bhai 2";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 0.5em;
}
.my-courses span p:last-child {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #000000;
  margin-left: 40px;
  margin-right: 40px;
  line-height: 0.5em;
}
.my-courses img:last-child {
  width: 40px;
  height: 40px;
}
.my-courses button {
  width: 23%;
  height: 40px;
  background-color: #000000;
  border-radius: 8px;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  border: none;
  margin-left: 40px;
}
.percent {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #000000;
  position: absolute;
  margin-left: 90px;
}

.arrows {
  width: 96px;
  margin-left: 524px;
  margin-top: 20px;
  display: flex;

  justify-content: space-between;
}
.courses {
  position: absolute;
}
.courses h2 {
  font-family: "Baloo Bhai 2";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin-left: 236px;
  margin-top: 360px;
  position: absolute;
}
.courses h3 {
  font-family: "Baloo Bhai 2";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
}

.courses ul {
  margin: 0; /* Обнуляем значение отступов */
  margin-top: 414px;
  margin-left: 236px;
  padding: 0;
}
.courses li {
  display: inline;
  padding-right: 30px;
}
.courses li:nth-child(2),
.courses li:nth-child(3),
.courses li:nth-child(4) {
  color: #000000;
  opacity: 0.3;
}
.courses-list {
  position: absolute;
  display: flex;
  margin-top: 450px;
  margin-left: 236px;
  flex-direction: column;
}
.courses-list div {
  width: 140%;
  height: 80px;
  background: #f5f5f7;
  border-radius: 14px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
}

.courses-list span p:first-child {
  font-family: "Baloo Bhai 2";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  line-height: 0.5em;
}
.courses-list span p:last-child {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #000000;
  line-height: 0.5em;
}
.courses-list button {
  width: 120px;
  height: 40px;
  background-color: #000000;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  border: none;
  margin-right: 20px;
}
.courses-list span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #000000;
  line-height: 0.5em;
}
.search input {
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #f5f5f7;
  margin-top: 55px;
  margin-left: 65px;
}
.notification {
  margin-top: 52px;
  margin-left: 35px;
}
.notification img:first-child {
  position: fixed;
}
.notification img:last-child {
  margin-left: 45px;
}
.notification-quantity {
  width: 14px;
  height: 14px;
  position: absolute;
  border-radius: 50%;
  background: #f45b5b;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  line-height: 1.5em;
  margin-left: 14px;
}
.completed {
  position: absolute;
  width: 208px;
  height: 96.33px;
  background: #f5f5f7;
  border-radius: 14px;
  margin-left: 960px;
  margin-top: 118.92px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.completed div:first-child {
  font-family: "Baloo Bhai 2";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  margin-right: 11px;
}
.completed div:last-child {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  color: #000000;
  line-height: 24px;
  font-size: 16px;
}
.in-progres {
  position: absolute;
  width: 208px;
  height: 96.33px;
  background: #f5f5f7;
  border-radius: 14px;
  margin-left: 1200px;
  margin-top: 118.92px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.in-progres div:first-child {
  font-family: "Baloo Bhai 2";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  margin: 0;
  margin-right: 15px;
}
.in-progres div:last-child {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #000000;
  line-height: 24px;
  font-size: 16px;
}
.statistic {
  position: absolute;
}
.statistic h2 {
  font-family: "Baloo Bhai 2";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin-left: 960px;
  margin-top: 255.29px;
  position: absolute;
}
.statistic h3 {
  font-family: "Baloo Bhai 2";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
}

.statistic ul {
  margin: 0; /* Обнуляем значение отступов */
  margin-top: 309.54px;
  margin-left: 960px;
  padding: 0;
}
.statistic li {
  display: inline;
  padding-right: 30px;
}
.statistic li:nth-child(2) {
  color: #000000;
  opacity: 0.3;
}
select {
  position: absolute;
  width: 88px;
  height: 32px;
  margin-left: 1325px;
  margin-top: 305.54px;
  background: #f5f5f7;
  border-radius: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  border: 0px;
}
.statistic-img {
  position: absolute;
  margin-left: 960px;
  margin-top: 367.65px;
}
.brain {
  position: absolute;
  margin-left: 960px;
  margin-top: 683px;
  background: #f5f5f7;
  border-radius: 14px;
  width: 440px;
  height: 193px;
  padding-left: 24px;
}
.brain h2 {
  font-family: "Baloo Bhai 2";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
}
.brain h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 0.5em;
}
.brain button {
  width: 120px;
  height: 40px;
  background-color: #000000;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  border: none;
  margin-right: 20px;
  margin-top: 20px;
}
.idea {
  position: absolute;
  margin-left: 100px;
  margin-top: -90px;
}
